docker-compose.yml
.DS_Store
*.yaml
ANKA_BUILD_CLOUD/anka-controller-reg*
.dccache
content
softwareupdate.plist
.idea/
GITLAB/anka-cloud-gitlab-executor*
GITLAB/config*
GITLAB/custom-executor.*
GITLAB/gitlab-runner-auth-token
TEAMCITY/*.tar.gz